@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* (graphic design text) */
  --dark-blue: hsl(198, 62%, 26%); /* (photography text) */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* (footer) */

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 4.9rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.9rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 2.3rem;
}

h5 {
  font-size: 1.6rem;
  line-height: 2rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.7rem;
}

small {
  font-size: 1.4rem;
  color: hsl(210, 4%, 67%);
}

ul {
  list-style-type: none;
}

body {
  font-family: "Barlow", sans-serif;
}

/* Buttons */
.btns {
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: hsl(212, 27%, 19%);
}

.btn-transform {
  border-bottom: 10px solid hsl(51, 100%, 49%, 0.5);
}

.btn-standout {
  border-bottom: 10px solid hsl(7, 99%, 70%, 0.5);
}

/* Showcase Component */
.showcase {
  background: url("./images/mobile/image-header.jpg") no-repeat center/cover;
  height: 512px;
}

.showcase .overlay {
  height: 512px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Graphic Components */
.graphic-mobile h3 p {
  color: #24554a;
}

/* Testimonials Component*/
.testimonials-header {
  color: hsl(213, 9%, 39%);
}

/* Footer Component */
.footer {
  background-color: #90d4c6;
}

.footer button {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #2c7566;
}

@media (min-width: 768px) {
  .showcase {
    background: url("./images/desktop/image-header.jpg") no-repeat center/cover;
    height: 512px;
  }
}
